<footer class="footer-wrapper">
    <div class="footer-wrapper__inside">
       <div class="container-fluid">
          <div class="row">
             <div class="col-md-6">
                <div class="footer-copyright">
                   <p>Uskudar University<span>&nbsp©&nbspSerdar Kadir Akça</span></p>
                </div>
             </div>
             </div>
          </div>
       </div>
    </div>
 </footer>