<header class="header-top">
    <nav class="navbar navbar-light">
       <div class="navbar-left">
          <div class="logo-area">
             <a class="navbar-brand" href="/dashboard">
                <img src="static/img/logo.png" alt="logo">
             </a>
             <a href="#" class="sidebar-toggle">
                <img class="svg" src="static/img/svg/align-center-alt.svg" alt="img"></a>
          </div>
       </div>
       <div class="navbar-right">
          <ul class="navbar-right__menu">
            <!-- <li class="nav-message">
               <div class="dropdown-custom">
                  <a href="javascript:;" class="nav-item-toggle icon-active">
                     <img class="svg" src="static/img/svg/message.svg" alt="img">
                  </a>
                  <div class="dropdown-parent-wrapper">
                     <div class="dropdown-wrapper">
                        <h2 class="dropdown-wrapper__title">Messages<span class="badge-circle badge-success ms-1">1</span></h2>
                        <ul>
                           <li class="has-new-message">
                              <div class="user-avater">
                                 <img src="static/img/team-1.png" alt="">
                              </div>
                              <div class="user-message">
                                 <p>
                                    <a href="#" class="subject stretched-link text-truncate" style="max-width: 180px;">Ahmet Yılmaz</a>
                                    <span class="time-posted">1 hours ago</span>
                                 </p>
                                 <p>
                                    <span class="desc text-truncate" style="max-width: 215px;">
                                    I need your help.
                                    </span>
                                    <span class="msg-count badge-circle badge-success badge-sm">1</span>
                                 </p>
                              </div>
                           </li>
                        </ul>
                        <a href="#" class="dropdown-wrapper__more">See All Message</a>
                     </div>
                  </div>
               </div>
            </li>
            <li class="nav-notification">
               <div class="dropdown-custom">
                  <a href="javascript:;" class="nav-item-toggle icon-active">
                     <img class="svg" src="static/img/svg/alarm.svg" alt="img">
                  </a>
                  <div class="dropdown-parent-wrapper">
                     <div class="dropdown-wrapper">
                        <h2 class="dropdown-wrapper__title">Notifications <span class="badge-circle badge-warning ms-1">1</span></h2>
                        <ul>
                           <li class="nav-notification__single nav-notification__single--unread d-flex flex-wrap">
                              <div class="nav-notification__type nav-notification__type--primary">
                                 <img class="svg" src="static/img/svg/inbox.svg" alt="inbox">
                              </div>
                              <div class="nav-notification__details">
                                 <p>
                                    <a href="#" class="subject stretched-link text-truncate" style="max-width: 180px;">Ahmet Yılmaz</a>
                                    <span>sent you a message</span>
                                 </p>
                                 <p>
                                    <span class="time-posted">1 hours ago</span>
                                 </p>
                              </div>
                           </li>
                        </ul>
                        <a href="#" class="dropdown-wrapper__more">See all incoming activity</a>
                     </div>
                  </div>
               </div>
            </li> -->
             <li class="nav-author">
                <div class="dropdown-custom">
                   <a href="javascript:;" class="nav-item-toggle"><img src="static/img/author-nav.jpg" alt="" class="rounded-circle">
                      <span class="nav-item__title"><%= name %></span>
                   </a>
                   <div class="dropdown-parent-wrapper">
                      <div class="dropdown-wrapper">
                         <div class="nav-author__info">
                            <div class="author-img">
                               <img src="static/img/author-nav.jpg" alt="" class="rounded-circle">
                            </div>
                            <div>
                               <h6><%= name %></h6>
                               <span><%= job %></span>
                            </div>
                         </div>
                         <div class="nav-author__options">
                            <ul>
                              <li>
                                 <a href="/profile">
                                    <i class="uil uil-user"></i> Profile</a>
                              </li>
                               <li>
                                  <a href="#" data-bs-toggle="modal" data-bs-target="#modal-signout">
                                     <i class="uil uil-sign-out-alt"></i> Sign Out</a>
                               </li>
                            </ul>
                         </div>
                      </div>
                   </div>
                </div>
             </li>
          </ul>
       </div>
    </nav>
 </header>