<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Actuary - <%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="static/css/daterangepicker.css">
    <link rel="stylesheet" href="static/css/fontawesome.css">
    <link rel="stylesheet" href="static/css/footable.standalone.min.css">
    <link rel="stylesheet" href="static/css/fullcalendar@5.2.0.css">
    <link rel="stylesheet" href="static/css/jquery-jvectormap-2.0.5.css">
    <link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="static/css/leaflet.css">
    <link rel="stylesheet" href="static/css/line-awesome.min.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/MarkerCluster.css">
    <link rel="stylesheet" href="static/css/MarkerCluster.Default.css">
    <link rel="stylesheet" href="static/css/select2.min.css">
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/star-rating-svg.css">
    <link rel="stylesheet" href="static/css/trumbowyg.min.css">
    <link rel="stylesheet" href="static/css/wickedpicker.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@iconscout/unicons@4.0.8/css/line.min.css">
 </head>