<!DOCTYPE html>
<%- include('../partials/head') %>
<body class="layout-light side-menu">
   <main class="main-content">
      <div class="contents">
         <div class="min-vh-100 content-center">
            <div class="error-page text-center">
               <div class="error-page__title">
                     <p>404</p><p style="font-size: 28px; color: #625274;">Page Not Found</p>
                     <a class="btn-primary-hover" style="font-size: 20px; padding: 5px; border-radius: 10px;" href="/dashboard">Return Home</a>
               </div>
            </div>
         </div>
      </div>
   </main>
   <%- include('../partials/script') %>
</body>
</html>